<html>
<head>
    <meta charset="utf-8">
    <title>Site Yapım Aşamasında</title>
    <link rel="stylesheet" type="text/css" href="/static/soon.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav class="nav" id="nav">
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('op') }}">AI Sports</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="{{ url_for('soon_page') }}">Hakkında</a></li>
                    <li><a href="{{ url_for('soon_page') }}">Programlar</a></li>
                    <li><a href="{{ url_for('soon_page') }}">Blog</a></li>
                    <li><a href="{{ url_for('soon_page') }}">İletişim</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <div class="bilmm izle">
        <div class="hareket">█ █ █ <span style="color:red">█ █ █ █ █ █ █ █ █ █ </span>31%
            <br>
            <br>&gt; Yenilenme Zamanı
            <br>&gt; Çok Yakında Sizlerleyiz
            <br> &gt; RezOz Yazılım <span id="imlec">█</span>
        </div>
    </div>
</body>
</html>