@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.nav div.logo a:hover {
    color: sandybrown;
}

.nav div.main_list {
    height: 45px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 45px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    margin: 0rem 1rem;
    padding: 0rem 1.75rem;
    text-align: center;
    color: #994D1C;
    border-radius: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #994D1C;
    line-height: 40px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: sandybrown;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(/static/aifitness.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15%;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.home-content{
    position: relative;
    top: 15%;
    text-align: center;
    color: #994D1C;
    font-size: 4rem;
    border: 1.5rem solid white;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 30px;
}
.home-content h1{
    font-size: 5rem;

}
.home a{
    margin-top: 2%;
    text-decoration: none;
    color: white;
    border: #994D1C solid 1rem;
    padding: 1rem 10rem;
    background-color: #F5CCA0;
    border-radius: 50px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.letsarea{
    text-align: center;
    margin: 15%;
    font-size: 4rem;
    
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 50px;
        background-color: #F5CCA0;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 60%;
        margin-left: 22%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.4);
        border: 3px solid white;
        text-align: center;
        color: #994D1C;
        border-radius: 25px;
        margin-bottom: 10px;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        color: #994D1C;
    }
    .nav div.media_button {
        display: block;
    }
    .home-content{
        position: relative;
        width: 100%;
        top: 15%;
        text-align: center;
        color: #994D1C;
        font-size: 2rem;
        border: 0.25rem solid white;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        padding: 30px;
    }
    .home {
        width: 100%;
        height: 100vh;
        background-size: cover;
        
    }
    .home a{
        
        text-decoration: none;
        color: white;
        border: #994D1C solid 0.25rem;
        padding: 0.5rem 2rem;
        background-color: #F5CCA0;
        border-radius: 50px;
        font-weight: bold;
        position: absolute; /* Metni pozisyonlamak için */
        bottom: 6%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .letsarea{
        text-align: center;
        font-size: 2rem;
        bottom: 5%;
        
    }
    main .card{
        margin-top: 100px;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    
    background-color: #F5CCA0;
}
.affix div.main_list ul li{
    margin-top: 10px;
    padding: 0rem 1.75rem;
    background-color: #F5CCA0;
}
.affix .main_list{
    margin-top: 10px;
}




.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");


.area{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
  
}
#programlar{
    color: white;
    text-align: center;

    padding: 5px;
    background-color: #000;
}
#programspan{
  font-size: 25px;
  text-align: center;

}

body .programcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .programcontainer .card {

  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}


body .programcontainer .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  
}
#chest{
    background-image: url(/static/images/chest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#back{
    background-image: url(/static/images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#shoulder{
    background-image: url(/static/images/shoulder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#leg{
    background-image: url(/static/images/leg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#arm{
    background-image: url(/static/images/arm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#core{
    background-image: url(/static/images/abs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body .programcontainer .card .box:hover {
  transform: translateY(-50px);
}

body .programcontainer .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}


body .programcontainer .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .programcontainer .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-top: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .programcontainer .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shopping-cart-list{
  position: absolute;
  width: 25rem;
  right: -0.75rem;
  top: 2.9rem;
  padding: 1rem;
  z-index: 1;
}

.shopping-cart-list .list-item{
  margin-top: 1rem;
}
.price{
  border: #fff solid;
  background-color: white;
  width: 60px;
  margin: auto;
  text-align: center;
  
}
#ikon{
  float: right;
  margin: 1px;
}
h1.second {
	font-weight: 200;
    color: white;
    margin-top: 2%;
}

h1.second span {
	position: relative;
	display: inline-block;
	padding: 5px 10px ;
	border-radius: 10px;
	border-bottom: 1px solid mediumseagreen;
}

h1.second span:after {
	content: '';
	position: absolute;
	bottom: calc(-100% - 1px);
	margin-left: -10px;
	display: block;
	width: 100%; height: 100%;
	border-radius: 10px;
	border-top: 1px solid mediumseagreen;
}
.armbtn_div{
    display: flex;
}

.armbtn{
    border-color: black;
    color: #fff;
    box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
    transition: all 150ms ease-in-out;
    border-radius: 50px;
    width: 7rem;
    height: 7rem;
    margin-left: 3rem; 
    padding: 2rem 2rem;
    font-size: 2rem;
    margin-top: 10%;
    &:hover {
        color: black;
        box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
    }
      
}
.armbtn_stop{
    border-color: black;
    color: #fff;
    box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
    transition: all 150ms ease-in-out;
    border-radius: 50px;
    margin-left: 3rem; 
    padding: 2rem 2rem;
    width: 7rem;
    height: 7rem;
    font-size: 2rem;
    margin-top: 10%;
    &:hover {
        color: black;
        box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
    }
      
}
input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
.armbtn_folder{
    display: inline-block;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    border-color: black;
    color: #fff;
    box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
    transition: all 150ms ease-in-out;
    border-radius: 50px;
    width: 7rem;
    height: 7rem;
    margin-left: 3rem; 
    padding: 2.5rem 2.5rem;
    font-size: 2rem;
    margin-top: 10%;
    &:hover {
        color: black;
        box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
    }
      
}
.armbody{
    background-color: #1b1c23;
}


:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(157, 30%, 24%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    height: 100vh;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .card {
    margin-top: 5%;
    width: 800px;
    background-color: #FDFEFE;
    display: flex;
    border-radius: 12px;
}
@media screen and (max-width:768px){
    main .card {
        margin-top: 15%;
        width: 800px;
        background-color: var(--white);
        display: flex;
        border-radius: 12px;
    }
}
main .card .card__img, main .card .card__content {
    width: 50%;
}
main .card .card__img picture {
    width: 100%;
    height: 100%;
    display: block;
}
main .card .card__img picture img {
    width: 100%;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}
.output_canvas{
    
    border-radius: 12px 0px 0px 12px;
}

main .card .card__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
main .card .card__content .card__tag {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}
main .card .card__content .card__title {
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
}
main .card .card__content .card__desc {
    font-size: 14px;
    line-height: 24px;
}
main .card .card__content .card__price {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
main .card .card__content .card__price h1 {
    font-family: 'Fraunces', serif;
}
main .card .card__content .card__price s {
    font-size: 14px;
}
main .card .card__content .card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: var(--dark-cyan);
    padding: 14px;
    outline: none;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background 200ms linear;
}
main .card .card__content .card__btn:hover {
    background-color: var(--very-dark-blue);
}

@media (max-width: 600px) {
    body {
        height: auto;
    }
    main {
        padding: 20px;
    }
    main .card {
        flex-direction: column;
    }
    main .card .card__img, main .card .card__content {
        width: 100%;
    }
    main .card .card__img picture img {
        border-radius: 12px 12px 0px 0px;
    }
    main .card .card__content {
        padding: 20px;
        row-gap: 16px;
    }
}
#tekrarrenk{
    margin-left: 0.5rem;
}
#sürerenk{
    margin-left: 0.5rem;

}
#indirmerenk{
    margin-left: 0.5rem;

}
#reprenk{
    margin-left: 0.5rem;

}

#tekrarcolor{
    
    display: flex;
    flex-direction: row;
}
.tekrarclass{
    color: white;
    background-color: #000    ;
    padding: 0.75rem;
    border: #000 solid 3px;
    border-radius: 15px;
}